.full-height {
    height: 100vh;
  }
  
  .email-info p {
    margin-bottom: 0.2rem;
    line-height: 1.2;
  }
  
  .email-message {
    margin: 1rem 0;
    overflow-y: auto;
  }

  .reply-area textarea {
    width: 100%;
    min-height: 100px;
  }

  .reply-area {
        margin: 1rem 0;
      }
